[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
requests = "*"
tabulate = "*"
logunittest = {path = "."}

[dev-packages]
black = "*"
pre-commit = "*"
toml = "*"
joringels = {editable = true, path = "/Users/Lars/python_venvs/libs/joringels"}

[requires]
python_version = "3.11"

[pre-commit]
requires_python_version = "3.11"

[scripts]
git_sync = "lut ut -g"
