[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
requests = "*"
tabulate = "*"
logunittest = {path = "."}

[dev-packages]
black = "*"
pre-commit = "*"
toml = "*"

[requires]
python_version = "3.9"
